<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <remove name="X-Powered-By" />
                <remove name="date" />
                <remove name="server" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering removeServerHeader="true"/>
        </security >
    </system.webServer>
</configuration>